    </div> <!-- /container -->

    <!--[ footer ] -->
    <div id="footer">
      <div class="container">
        <p class="footer-block">Place sticky footer content here.</p>
      </div>
    </div>

    <!-- LOAD THE JS -->
    <script src="bundle.js"></script>
    <script src="bootstrap.js"></script>
  </body>
</html>
