{{#contentFor 'body'}}

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Here's the account page</h1>
      </div>

      <div class"row">
        Welcome {{ user.first }} {{ user.last }}
      </div>



{{/contentFor}}
