{{#contentFor 'body'}}

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Here's the index body</h1>
        <p> Proof of data in route is {{proof}}</p>
        <p>To see more bootstrap 3 templates visit <a href="https://getbootstrap.com/docs/3.3/getting-started/">the bootstrap 3 getting started guide</a></p>

      </div>

 

{{/contentFor}}
