{{#contentFor 'body'}}

        <form id="loginForm">
          <h2 class="text-center p-b-20">Login</h2>
          <div class="form-group">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="remember" value="remember-me"> Remember me
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a href="/" id="cancelButton" class="btn btn-lg btn-default btn-block">Cancel</a>
            </div>
            <div class="col-xs-6 p-l-0">
              <button id="loginButton" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </div>
          </div>
        </form>
        <p class="text-center p-t-20">Are you new?  <a href="/register">Register here</a></p>
      
{{/contentFor}}
