{{> noheader}}

<div class="box main">
  <div class="row">
    <div class="col-sm-3 col-md-4">
      &nbsp;
    </div>
    <div class="col-sm-6 col-md-4">

    {{> alert-component}}

    {{{block "body"}}}

    </div>
  </div>
</div>

{{> footer}}
